<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="css/my.css">
    <title> Imran Lala </title>
</head>
<body>
    <main class="cd-container">
        <header>
            <!--MAIN NAVIGATION-->
            <!--<div class="navbar-fixed">-->
            <div class="navbar-fixed">
                <nav role="navigation">
                    <div class="nav-wrapper">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="hide-on-med-and-down">
                            <li><a class=" waves-effect waves-light scrollspy" href="#home">Home</a></li>
                            <li><a class=" waves-effect waves-light scrollspy" href="#personalDetails">Personal Details</a></li>
                            <li><a class=" waves-effect waves-light scrollspy" href="#skills">Skills</a></li>
                            <li><a class=" waves-effect waves-light scrollspy" href="#education">Education</a></li>
                            <li><a class=" waves-effect waves-light scrollspy" href="#jobs">Experience</a></li>
                            <li><a class=" waves-effect waves-light scrollspy" href="#portfolio">Portfolio</a></li>
                            <li><a class="waves-effect waves-light scrollspy" href="#contact">Contact</a></li>

                        </ul>
                        <!-- END OF MAIN NAVIGATION-->

                        <!--MOBILE NAVIGATION-->
                        <ul class="side-nav" id="mobile-demo">
                            <li><a class="scrollspy" href="#home">Home</a></li>
                            <li><a class="scrollspy" href="#personalDetails">Personal Details</a></li>
                            <li><a class="scrollspy" href="#skills">Skills</a></li>
                            <li><a class="scrollspy" href="#education">Education</a></li>
                            <li><a class="scrollspy" href="#portfolio">Portfolio</a></li>
                            <li><a class="scrollspy" href="#contact">Contact</a></li>
                        </ul>
                        <!-- END OF MOBILE NAVIGATION-->

                        <!--MOBILE NAVIGATION TRIGGER-->
                        <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
                    </div>
                    <!-- END OF NAV WRAPPER-->
                </nav>
                <!-- END OF NAVIGATION-->
            </div>
            </div>
            <!--END OF NAVIGATION FIXED-->
        </header>

</main>
</body>

</html>