* {
    font-family: 'Dosis', sans-serif;
    font-size: 2.5vh;    
}

h3 , h4 {
    text-align: center;
}

/*scroll to top */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
    width: 40%;
}

/* back to the top button */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
  padding-right: 2vh;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .25;
}
.no-touch .cd-top:hover {
  background-color: blue;
  opacity: 1;
}
/*                      ------------ nav ----------                             */
#myTopnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 998;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/*needed for smooth scroll */
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.navi {
    float: left;
}

a.navi {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navi a:hover {
    background-color: gray;
}


#personalDetails #profPic {
    border-radius: 50%;
    width: 25%;
}

#personalDeets {
    padding-top: 125px;
}

#personalDetails {
  
    text-align: center;
    line-height: 150%;
    padding-top: 0px;
    font-size: 25px;
    /*background: lightgray;*/
}

#details {
    float: left;
}


#image {
    position: relative;
    width: 100%;
}

#summary {
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 3vh;
    
}

#skills {
  background: lightgray;
  padding-top: 2.5%;
  padding-bottom: 12%;
  /*padding-left: 7%;*/
  width: 99%;
}


/*progress bar thingy*/


.wrap {
  width: 100%;
  /*margin: 0 auto;*/
  padding-left: 29%;
  /*padding-bottom: 10%;*/
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #2f3439;
  background-color: tomato;

}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 19px;
  margin-top: 18px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

.progress-25 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
  background-image: linear-gradient(0deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
  background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

#education {
  padding-top: 2%;
  padding-bottom: 5%;
}    

#educationIntro{
  padding-left: 10vh;
  padding-right: 10vh;
}

.edu {
    width: 100%;
    padding-top: 5%;
}


/*aston uni div*/
.left {
    border-radius: 10%;
    width: 48%;
    height: 30%;
    float: left;
    background: white;
    padding-bottom: 15vh;

}

.left:hover {
    background: lightgray;
}

.uniDesc {
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 1vh;
}

#Astonlogo {
    padding-left: 40%;
}

/*Greenwich div*/
.right {
        
    border-radius: 10%;
    width: 48%;
    height: 50%;
    float: right;
    background: white;
    padding-bottom: 15vh;
   

}

.right:hover {
    background: lightgray;
}

#gsm {
    padding-top: 10px;
}

#experience {
  padding-top: 2%;
  padding-bottom: 10%;
}

.Duties {
    padding-left: 30px;
    padding-bottom: 10px;
}

.collapsible-header{
    font-size: 23px;
}


.btn, .btn-large{
  background-color: #ff6347;
}

.btn {
    background-color: #ff6347;

}

.btn:active {
    background-color: #ff6347;

}

.btn:hover {
    background-color: #ff6347;

}

.btn:valid {
    background-color: #ff6347;

}

footer {
  padding-top: 5%;
  padding-left: 45%;
  padding-bottom: 2%; 
  background: #333;
  display: block;
  color: white;

}

#design {
    padding-right: 10%;
}

/* -----------------------------------------  mobile responsiveness ------------------------------------------------ */

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1000px) {
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
      ul.topnav.responsive {position: relative;}
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      #summary{
          line-height: 120%;
      }

      ul.topnav.responsive li {
        float: none;
        display: inline;
      }
      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }



        #skills{
        padding-right: 3.5%;
        padding-top: 10%;
        padding-bottom: 20%;
        width: 99%;
       
      }

    .wrap{
        
          /*padding-right: 5% */
          margin-left: -7%;
      }

      .edu {
        width: 100%;
        padding-top: 5%;
}

      /*aston uni div*/
      .left {
          width: 100%;
          background: white;
          padding-bottom: 1vh;

      }

      .left:hover {
          background: lightgray;
      }

     .uniDesc {
        padding-left: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
    }

      /*Greenwich div*/
      .right {

          width: 100%;
          background: white;
          padding-bottom: 1vh;
        

      }

      .right:hover {
          background: lightgray;
      }

      #gsm {
          padding-top: 10px;
      }

}

@media screen and (max-width:580px) {
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
      ul.topnav.responsive {position: relative;}
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }


      ul.topnav.responsive li {
        float: none;
        display: inline;
      }
      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }

        #skills{
        padding-right: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
        width: 99%;
      }



      .edu {
        /*width: 100%;*/
        padding-top: 5%;
}

      /*aston uni div*/
      .left {
          width: 100%;
          background: white;
          padding-bottom: 1vh;

      }

      .left:hover {
          background: lightgray;
      }

     .uniDesc {
        padding-left: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
    }

      /*Greenwich div*/
      .right {
          width: 100%;
          background: white;
          padding-bottom: 1vh;
        

      }

      .right:hover {
          background: lightgray;
      }
}